port: ${PORT}
db: "postgres://postgres:postgres_AA9944@127.0.0.1:5434/rollup_state_manager"
witgen:
  interval: ${WITGEN_INTERVAL}
  n_workers: ${N_WORKERS}
  max_ready_tasks: 1000
  proved_clear_after: 172800
  circuits:
    block: "${TARGET_CIRCUIT_DIR}/circuit.fast"
